
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: rgb(40, 40, 40);

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/

#plot {
	width: 100%;
	height: 100%;
	/* margin: 1rem; */
	border: 0px none; 
	margin: 0px; 
	padding: 0px; 
	top: 0px; 
	left: 0px; 
	position: absolute; 
}

#debug-overlay {
	top: 1rem; 
	left: 1rem; 
	position: absolute; 
	z-index: 2;

	/* padding: 0 0.5rem 0 0.5rem; */
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.5);
	color: white;

	overflow: hidden;
}

#debug-overlay a {
	color: rgb(118, 255, 152);
}
#debug-overlay p {
	margin: 0.5rem;
}
#debug-overlay pre {
	font-size: 0.8em;
}

#view-select {
	display: inline;
	padding: 0;
	margin: 0;
}

#view-select li {
	display: inline;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;

	border: white 2px solid;
	border-radius: 0.5rem;
}

#wfc-overlay {
	top: 1rem; 
	left: 1rem;  
	position: center; 
	z-index: 3;
	border-radius: 0.5rem;
	background: rgb(131, 192, 149);
	color: rgb(0, 0, 0);
	font-size: 0;
	overflow: hidden;
}
#wfc-overlay p{
	margin: 30px;
	padding: 0;
}
#text-wfc {
	margin: 0.5rem;
	font-size: large;
	color: black;
}

#pos-tiles {
	color: black;
	padding: 40px;
	text-align: center;
	line-height: 0;
}

#img-tiles {
	color: black;
	padding: 40px;
	text-align: center;
	line-height: 0;
}

#generate {
	color: black;
	padding: 40px;
	text-align: center;
	font-size: large;
}

.keyboard {
	border:1px white solid; 
	padding: 0 0.25em 0 0.25em;
}

.hidden {
	display: none;
}

.button {
	border-radius: 2%;
	text-align: center;
	cursor: pointer;
	margin: 0;
	background-color: white;
	color: black;
	padding: 10px 10px;
	font-size: 15px;
	border: 2px solid rgb(67, 105, 78);
}

.button:hover {
	background-color: rgb(67, 105, 78);;
	color: white;
}
.button:focus {
	background-color: rgb(67, 105, 78);;
	color: white;
}

#error-message {  
	margin: auto;
  	width: 50%;
	padding: 10px;
	text-align: center;
	z-index: 4;
	border-radius: 0.5rem;
	background: rgb(207, 134, 134);
	color: rgb(0, 0, 0);
	overflow: hidden;
	display: none;
}
#error-message p{
	margin: 30px;
	padding: 0;
}

#generation {
	top: 1rem; 
	left: 1rem;  
	position: center; 
	z-index: 3;
	border-radius: 0.5rem;
	background: rgb(131, 192, 149);
	color: rgb(0, 0, 0);
	font-size: 0;
	overflow: hidden;
	display: none;
}
#generation p{
	margin: 30px;
	color: rgb(0, 0, 0);
	padding: 0;
}
img {
	width: 60px;
	height: 60px;
}